.projectContainer {
  width: 100%;
  position: relative;
  margin-bottom: 3em;
}

.projectTitle {
  font-size: 2em;
  text-align: center;
}

.projectImageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1em 0px;
}

.projectImage {
  border-radius: 1em;
  width: 100%;
  height: 39vw;
}

.projectDesc {
  margin-bottom: 1em;
}

.buttonRedirect {
  display: inline-block;
  position: absolute;
  right: 2px;
  width: 5em;
  height: 1.6em;
  border-radius: 5px;
  background-color: #1e90ff;
  transform: scale(1);
  transition: transform .1s ease-out;
}

.buttonRedirectText {
  text-align: center;
  margin-top: 3px;
  font-size: 14px;
}

.buttonRedirect:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.buttonSite {
  display: inline-block;
  position: absolute;
  left: 2px;
  width: 5em;
  height: 1.6em;
  border-radius: 5px;
  background-color: #3cb043;
  transform: scale(1);
  transition: transform .1s ease-out;
}

.buttonSite:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.spacingTop {
  margin-top: 4em;
}