.container-tec-item {
  width: 90px;
  height: 105px;
  margin: 20px;
  transform: scale(1);
  transition: transform .3s ease-out;
}

.container-tec-item:hover {
  transform: scale(1.3);
}

.container-tec-image {
  width: 96%;
  margin-left: 2%;
  height: 86px;
}

.image-tec-item {
  position: relative;
  top: -7px;
  width: 100%;
  margin: 0px;
  padding-top: 0px;
}

.text-tec-item {
  width: 100%;
  overflow: hidden;
  text-align: center;
  font-size: .9em;
}

.image-tec-item-bg {
  background-color: rgba(255, 255, 255, .8);
  border-radius: 50%;
}

@media (max-width: 380px) {
  .container-tec-item {
    margin: 10px;
    width: 70px;
  }

  .container-tec-image {
    width: 100%;
    margin-left: 0px;
    height: 70px;
  }

  .image-tec-item {
    top: -15px
  }
}