.container {
    /* background-color: bisque; */
    margin: 1em 0;
    display: flex;
    align-items: center;
}

.iconContainer {
    border-radius: 50%;
    background-color: white;
    width: 2.6vw;
    height: 2.6vw;
    overflow: hidden;
}

.icon {
    margin: 10%;
    width: 80%;
    height: 80%;
    flex-shrink: 0;
    
}

.info {
    margin-left: 10px;
    font-size: .8em;
}

@media (min-width: 446px) and (max-width: 1000px) {
    .container {
        flex-direction: column;
    }

    .iconContainer {
        width: 3.6vw;
        height: 3.6vw;
        margin-bottom: 10px;
    }

    .info {
        margin-left: 0px;
        font-size: 1.4vw;
        text-align: center;
        text-justify: center;
    }
}

@media (min-width: 0px) and (max-width: 445px) {
    .container {
        flex-direction: column;
    }

    .iconContainer {
        width: 0px;
        height: 0px;
    }

    .icon {
        width: 0px;
        height: 0px;
    }

    .info {
        margin-left: 0px;
        font-size: 11px;
        text-align: center;
        text-justify: center;
        word-break: break-all;
    }
}