.main {
  justify-content: space-between;
  align-items: center; 
  padding: 0px;
  min-height: 100vh;
}

.separete {
  width: 100vw;
  height: 9em;
}

.corpo {
  margin-left: 1.5vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 96vw;
  height: auto;
}
