.mainBody {
    border: 1px solid rgba(255,255,255,.2);
    width: 68vw;
    height: auto;
    margin-bottom: 5em;
}

.AsideStyle {
    border: 1px solid rgba(255,255,255,.2);
    height: auto;
    width: 25vw;
    margin-bottom: 5em;
}

.bordas {
    border-radius: 1em;
}

.espacamento {
    padding: 1em 1.5vw ;
}

.contactSection {
    padding: 0px;
    margin: 0px;
}

@media (min-width: 0px) and (max-width: 445px) {
    .contactSection {
        margin-top: -40px;
    }
}