.header {
    z-index: 999;
    position: fixed;
    width: 100vw;
    height: auto;
    padding: .6em;
    display: flex;
    flex-direction: row;
    margin: 0px;
    align-items: center;
    padding-right: 10vw;
    border-bottom: 1px solid rgba(119, 119, 119, 0.5);
}

.circleImage {
    border-radius: 100%;
    margin: 0px 1em;
}

.name {
    font-size: 3vw;
    opacity: .8;
}

.darkContainer {
    position: absolute;
    right: 6vw;
    padding: 0px;
    padding-left: 5px;
    background-color: white;
    display: flex;
    align-items: center;
    align-content: center;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    transform: scale(1);
    transition: transform .1s ease-out;
}

.darkContainer:hover {
    cursor: pointer;
    transform: scale(1.1);
}

@media (min-width: 500px){
    .darkContainer {
        right: 30px;
    }
}

@media (min-width: 950px) {
    .name {
        font-size: 1.8em;
    }
}
